.uploadfilecontainer {
  background-image: url("../../assets/uploadicon.png");
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  border: 0.8px solid #ebe8f2;
  border-radius: 10px;
  color: rgb(97, 82, 160);
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: rgba(111, 98, 169, 0.529) !important;
  opacity: 0.8;
}

.textdrop {
  transform: translate(0%, 420%);
  text-align: center;
}
