<div class="page-container">
  <div class="sidebox">
    <div>
      <form [formGroup]="registerPractitioner" (ngSubmit)="onSubmit()">
        <h1 class="center-align">Register as Practitioner!</h1>
        <!-- top view -->
        <div class="top-view">
          <!-- Image upload -->

          <div class="uploadfilecontainer">
            <label>Photo</label>
            <app-drop-zone (fileEmmitor)="setfile($event)"></app-drop-zone>
          </div>
          <!-- Title, first name, last name, Gender-->

          <div class="top-fields">
            <label>Title</label>
            <br />

            <select
              class="selectbox textbox-top"
              formControlName="title"
              (change)="changeTitle($event)"
            >
              <option *ngFor="let title of titles">
                {{ title }}
              </option>
            </select>

            <br />
            <br />

            <label>First name</label>
            <input
              type="text"
              name="firstName"
              class="textbox-top"
              formControlName="firstName"
              required
            />

            <!-- <span
              class="error-message"
              *ngIf="
                (firstName.touched || firstName.dirty) &&
                firstName.invalid &&
                firstName.errors.required
              "
            >
              **</span
            > -->

            <br />
            <br />
            <label for="fname">Last name</label>
            <br />
            <input
              type="text"
              name="lastName"
              class="textbox-top"
              formControlName="lastName"
            />

            <br />
            <br />
            <label for="Gender">Gender</label><br />
            <br />
            <div *ngFor="let gender of genders" class="gender-selection">
              <label>
                <input
                  value="{{ gender }}"
                  type="radio"
                  name="gender"
                  class="gender-radio"
                  formControlName="gender"
                />
                {{ gender }}
              </label>
            </div>
            <!-- <div
              class="error-message"
              *ngIf="
                ((registerPractitioner?.controls)['gender']?.errors?.pattern &&
                  (registerPractitioner?.controls)['gender']?.touched) ||
                ((registerPractitioner?.controls)['gender']?.invalid &&
                  (registerPractitioner?.controls)['gender']?.touched)
              "
            >
              select gender.
            </div> -->
          </div>
        </div>
        <!-- Email, phone, specialty, sub-categries .... etc-->
        <div class="bottom-fields">
          <div>
            <label>Email</label><br />
            <input
              type="email"
              name="Email"
              class="textbox-bottom"
              formControlName="email"
            />
          </div>

          <br />
          <div class="phone-container">
            <div class="country-code">
              <label for="fname">Phone</label><br />
              <select
                class="selectbox textbox-bottom"
                name="countryCode"
                (change)="changeCountryCode($event)"
              >
                <option
                  *ngFor="let countrycode of countryCodes"
                  value="{{ countrycode }}"
                >
                  {{ countrycode }}
                </option>
              </select>
            </div>
            <div class="phone-number">
              <br />
              <input
                type="number"
                name="Email"
                class="textbox-bottom"
                formControlName="phone"
              />
            </div>
          </div>
          <br />
          <div>
            <label>Specialty</label><br />
            <select
              class="selectbox textbox-bottom"
              formControlName="specialty"
              (change)="changeSpecialty($event)"
            >
              <option
                *ngFor="let speciality of specialties"
                value="{{ speciality }}"
              >
                {{ speciality }}
              </option>
            </select>
          </div>
          <br />
          <div *ngIf="showSubCategories">
            <label>Sub-Categories</label><br />
            <select
              class="selectbox textbox-bottom"
              formControlName="subCategory"
              (change)="changeSubCategory($event)"
            >
              <option
                *ngFor="let subCategory of subCategories"
                value="{{ subCategory }}"
              >
                {{ subCategory }}
              </option>
            </select>
          </div>
          <br />
          <div>
            <label
              >Experience
              <span class="input-note"
                >*No more than 500 characters recommended.</span
              > </label
            ><br />
            <textarea
              class="largetextbox"
              rows="3"
              formControlName="experience"
              maxlength="500"
            ></textarea>
          </div>
          <br />
          <div>
            <label
              >About
              <span class="input-note"
                >*No more than 500 characters recommended.</span
              > </label
            ><br />
            <textarea
              class="largetextbox"
              rows="3"
              formControlName="about"
              maxlength="500"
            ></textarea>
          </div>
          <br />
          <div>
            <label
              >Education
              <span class="input-note"
                >*No more than 500 characters recommended.</span
              > </label
            ><br />
            <textarea
              class="largetextbox"
              rows="3"
              formControlName="education"
              maxlength="500"
            ></textarea>
          </div>
          <br />
          <div>
            <label
              >Price Per Session
              <span class="input-note">
                *This will not be displayed in the app.
              </span> </label
            ><br />
            <input
              type="tel"
              name="pricePerSession"
              class="textbox-bottom"
              formControlName="pricePerSession"
            />
          </div>
          <br />
          <div>
            <br />
            <label>Languages</label><br />
            <select
              class="selectbox textbox-bottom"
              name="languages"
              formControlName="languages"
              (change)="changeLanguage($event)"
            >
              <option *ngFor="let language of Languages" value="{{ language }}">
                {{ language }}
              </option>
            </select>
          </div>
          <br />
          <!-- upload certificates -->
          <div>
            <label>Certification and licenses </label>
            <div class="uploadfilecontainer2" (click)="fileInput.click()">
              <!-- <img *ngFor="let url of urls" [src]="url" alt="" /> -->
              <input
                type="file"
                multiple
                hidden
                (change)="selectFiles($event)"
                #fileInput
              />
            </div>
            <div *ngFor="let name of fileNames" class="file-list">
              <img src="../../../assets/file.png" />
              <p>{{ name }}</p>
            </div>
          </div>

          <br />
          <br />
          <br />
          <!-- upload certificates -->

          <div>
            <label>Location name </label><br />
            <input
              type="text"
              class="textbox-bottom"
              formControlName="locationName"
            />
          </div>

          <!-- <div> -->
          <!-- TODO: need to add the location component -->
          <!-- [mapTypeControlOptions]="mapTypeControlOptions" -->

          <!-- <div>
            
            <agm-map
              [latitude]="lat"
              [longitude]="lng"
              [mapTypeControl]="true"
              [zoom]="zoom"
            >
              <agm-marker
                [latitude]="lat"
                [longitude]="lng"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"
              ></agm-marker>
            </agm-map>
          </div> -->
          <!-- </div> -->

          <div>
            <label>Location </label>
            <div class="location-container" (click)="openLocationDialog()">
              <!-- <img *ngFor="let url of urls" [src]="url" alt="" /> -->
              <!-- <input
                type="file"
                multiple
                hidden
                (change)="selectFiles($event)"
                #fileInput
              /> -->
            </div>
            <!-- <div *ngFor="let name of fileNames" class="file-list">
              <img src="../../../assets/file.png" />
              <p>{{ name }}</p>
            </div> -->
          </div>
          <!--  -->
          <br />
          <br />
          <div class="terms-conditions">
            <input type="checkbox" name="terms" class="terms-checkbox" />
            <label
              >By Applying you agree to the
              <a href="https://www.nfsapp.online/legal/" target="_blank">
                <span class="terms-link">terms and conditions</span></a
              >
              and guarantee that all the information is true and valid.</label
            >
          </div>
          <br />
          <br />
          <button
            type="submit"
            [disabled]="registerPractitioner.invalid"
            class="button"
            (click)="submitHandler()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="page-content-container"></div>
</div>
