.page-container {
  display: flex;
  height: 100%;
  background: rgb(111, 98, 169);
}
.page-content-container {
  width: 100%;
  background-image: url("../../../assets/nfsWallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

/*  */
/* side box container */
.sidebox {
  height: 100%;
  width: 50%;
  background: white;
  min-width: 900px;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  padding: 0% 5%;
}

/* top container */
.top-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* align-content: stretch; */
}
/* top right container */
.top-fields {
  padding-left: 5%;
  padding-top: 5%;
  flex: 1;
  justify-self: center;
}

/* select fields padding */

.top-fields select {
  padding-left: 20px;
  background: url(../../../assets/drop-down.png) no-repeat right white;
  -webkit-appearance: none;
  background-position-x: 95%;
}

/* text box in top right */
.textbox-top {
  width: 90%;
  /* height: 46px; */
  border-radius: 25px;
  border: 0.8px solid #ebe8f2;
  outline: none;
}
/* label above the text box */
label {
  margin-left: 10px;
  color: #757575;
}

/* file container, restirction of height to be above 400px */
.uploadfilecontainer {
  flex: 1;
  width: 400px;
  height: 400px;
}
/* this needs to be another container */
.upload-certificate-container {
  flex: 1;
  width: 100% !important;
  height: 400px;
}

/*  bottom container */
.bottom-fields {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  divs inside bottom container */

.bottom-fields div {
  width: 100%;
}
/* text box inside the bottom container */
.textbox-bottom {
  width: 100%;
  height: 46px;
  border-radius: 25px;
  border: 0.8px solid #ebe8f2;
  outline: none;
  padding-left: 20px;
  box-sizing: border-box !important;
}

/* select box  */
.selectbox {
  height: 46px;
  width: 100%;
  border-radius: 25px;
  border: 0.8px solid #ebe8f2;
  outline: none;
}

/* geneder selection div */
.gender-selection {
  display: inline-flex;
  /* flex-direction: row; */
}
/* radio input */
.gender-radio {
  background-color: #6f62a9;
}

/* select fields padding */
.bottom-fields select {
  padding-left: 20px;
  background: url(../../../assets/drop-down.png) no-repeat right white;
  -webkit-appearance: none;
  background-position-x: 99%;
}

/* title aliging */
.center-align {
  text-align: center;
}

/* phone div */
.phone-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* country code div */
.country-code {
  flex: 1;

  box-sizing: border-box !important;
}
/* select fields padding */
.country-code select {
  padding-left: 20px;
  background: url(../../../assets/drop-down.png) no-repeat right white;
  -webkit-appearance: none;
  background-position-x: 95%;
}
/* phone number div */
.phone-number {
  flex: 3;
  box-sizing: border-box !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.phone-number input {
  width: 90%;
}
/* select fields padding */
.phone-number select {
  padding-left: 20px;
}
/* textarea styling */
.largetextbox {
  width: 100%;
  height: 100px;
  border-radius: 25px;
  border: 0.8px solid #ebe8f2;
  outline: none;
  font-family: "Poppins";
  box-sizing: border-box !important;
  padding: 20px;
}

/* text area note */
.input-note {
  font-size: 8pt;
  margin-left: 10px;
}

.reg-details {
  font-size: 9.5pt;
}

/* terms and conditions link */
.terms-link {
  font-size: 12pt;
  color: #6f62a9;
}

/* Button */
.button {
  background-color: #6f62a9;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  cursor: pointer;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  margin: 5% 30%;
}

/* if button is disabled */
.button:disabled,
.button[disabled] {
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: white;
}

/* Upload multiple file */
.uploadfilecontainer2 {
  height: 100%;
  border: 1px solid #ebe8f2;
  border-radius: 10px;
  color: rgb(97, 82, 160);
  background-image: url("../../../assets/uploadicon.png");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.location-container-complete {
  height: 100%;
  border: 1px solid #ebe8f2;
  border-radius: 10px;
  color: rgb(97, 82, 160);
  background-image: url("../../../assets/check.png");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.location-container {
  height: 100%;
  border: 1px solid #ebe8f2;
  border-radius: 10px;
  color: rgb(97, 82, 160);
  background-image: url("../../../assets/drop-pin.png");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.file-list {
  display: flex;
  flex-direction: row;
  border: 1px solid #ebe8f2;
  border-radius: 10px;
  margin-top: 10px;
}

.file-list img {
  height: 30px;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  /* flex: 2; */
}

.file-list p {
  flex: 5;
  color: #757575;
}

/* validation  */
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.214);
}

.terms-conditions {
  display: flex;
  flex-direction: row;
}
